.App h1 {
  text-align: center;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  }
.nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
  font-size: 3.2em;
}

.a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}


#somos {

  margin: 0 120px;

}

.menu {
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 20px 0;

}

footer {
  background-color: #333;
  padding: 15px 0;
  text-align: center;
  color: white;
}